.custom-container {
    width: 100%;
    padding: 0 40px;
}

@mixin row($break-point) {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: $break-point) {
        flex-direction: row;
    }
}

//mobile
.row {
    @include row(640px);
}
.row-md {
    @include row(768px);
}
.row-lg {
    @include row(1024px);
}

.row-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-only {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.center-col {
    align-items: center;
    justify-content: center;
}

/****************PRIMEVUE******************/
.p-inputtext {
    width: 100% !important;
}

.p-fieldset-legend {
    margin-left: 10px;
}
.p-datatable-wrapper{
   max-height: 2000px;
}
